.anchor {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
}

.anchor:hover {
  text-decoration: underline;
}

.anchor--primary {
  color: var(--color-primary);
}

.anchor--secondary {
  color: var(--color-secondary);
}

.anchor--tertiary {
  color: var(--color-tertiary);
}

.anchor--success {
  color: var(--color-success);
}

.anchor--danger {
  color: var(--color-danger);
}

.anchor--warning {
  color: var(--color-warning);
}

.anchor--neutral {
  color: var(--color-medium);
}

.anchor--light {
  color: var(--color-light);
}
